.navbar-custom {
    background-color: aquamarine;
}

.navbar-brand {
    letter-spacing: .1em;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 17px;
}