.sidebar {
  padding: 15px;
}

.sidebar .list-group {
  /* margin-bottom: 200%; */
}

.sidebar .item {
  background-color: wheat;
  border-width: 2px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.sidebar .text {
  font-family: 'Arvo', serif;
  font-size: 18px;
  color: brown;
  font-weight: 800;
}

.sidebar .item:hover {
  background-color: burlywood;
}