@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Arvo');

.main-container {
  overflow-x: hidden; 
}

.sidebar-container {
  background-color: cadetblue;
  height: 100vh;
}

.chat-container {
  position: fixed;
  bottom: 5px;
}

.chat-wrapper {
  margin-right: auto;
  margin-top: auto;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}